html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.textonosotros {
    display: flex;
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #fff;
    max-width: 1200px;
    margin-top: 10em;
    justify-content: center;
    align-items: flex-start; /* Cambiado para alinear los textos arriba */
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.content-box {
    flex: 1;
    padding: 20px;
    border-right: 2px solid #ccc; /* Puedes quitar este borde si no lo quieres */
}

.textonosotros .content-box:last-child {
    border-right: none; /* No tener borde en el último cuadro */
}

@media (max-width: 768px) {
    .textonosotros {
        flex-direction: column;
        margin-left: 1em;
        margin-right: 1em;
    }

    .content-box {
        border-right: none;
        border-bottom: 2px solid #ccc; /* Borde inferior en lugar de lateral */
        padding: 10px;
        margin-top: 9em;
    }
}


/* Estilos para pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) {
    .textonosotros {
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-top: 2em;
    }

    .image-box img {
        max-width: 100%; /* Imagen ocupa todo el ancho */
    }
}
