.buttons {
  position: fixed;
  right: 18px; /* Ajusta según sea necesario */
  bottom: 110px; /* Ajusta según sea necesario */
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  font-size: 28px; /* Tamaño de la fuente fijo */
}

.buttons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px; /* Tamaño fijo */
  height: 70px; /* Tamaño fijo */
  background-color: #ef173e;
  color: white;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  margin-bottom: 10px; /* Espaciado entre los botones */
}

.buttons a:last-child {
  margin-bottom: 0; /* Elimina el margen inferior del último botón */
}

.buttons a:hover {
  transform: scale(1.2);
}

#buttons {
  position: fixed;
  right: 18px; /* Ajusta según sea necesario */
  bottom: 25px; /* Ajusta según sea necesario */
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  font-size: 28px; /* Tamaño de la fuente fijo */
}

#buttons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px; /* Tamaño fijo */
  height: 70px; /* Tamaño fijo */
  background-color: #ef173e;
  color: white;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  margin-bottom: 10px; /* Espaciado entre los botones */
}

#buttons a:last-child {
  margin-bottom: 0; /* Elimina el margen inferior del último botón */
}

#buttons a:hover {
  transform: scale(1.2);
}

.responsive-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 576px) {
  .responsive-container {
      width: 100%;
  }

  .responsive-img {
      max-width: 100%;
      height: auto;
  }
}

/* Estructura del grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el mínimo a 250px */
  gap: 30px; /* Aumenta el espacio entre productos */
  padding: 30px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 20px; /* Aumenta el padding para agrandar el área del producto */
  text-align: center;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.08); /* Aumenta el efecto de hover para destacar más */
}

/* Estilos de imagen */
.product-image {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 15px; /* Añade espacio entre la imagen y el texto */
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.product-image .img-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.product-card:hover .img-back {
  opacity: 1;
}

.product-card:hover .img-front {
  opacity: 0;
}

/* Estilos del texto */
.product-info h3 {
  font-size: 20px; /* Aumenta el tamaño del texto para que se vea mejor */
  color: #333;
  margin: 10px 0;
}

.product-info p {
  font-size: 18px; /* Aumenta el tamaño del precio */
  color: #888;
}

.section-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
  font-weight: bold;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 600px; /* Agrandar el carrusel */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #000;
}

.carousel-images {
  display: flex;
  width: 300%; /* Número de imágenes multiplicado por 100% */
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100vw; /* Asegúrate de que cada imagen ocupe el 100% del ancho de la ventana de visualización */
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  padding: 1rem; /* Aumentar el tamaño del botón */
  border-radius: 50%;
  z-index: 10;
}

.prev {
  left: 20px; /* Ajustar posición según sea necesario */
  top: 360px;
}

.next {
  right: 20px; /* Ajustar posición según sea necesario */
  top: 360px;
}


.carousel-button img {
  width: 30px; /* Tamaño de la imagen de las flechas */
  height: 30px; /* Tamaño de la imagen de las flechas */
}

@media (max-width: 768px) {
  .carousel-button {
    padding: 0.5rem; /* Reducir tamaño en pantallas pequeñas */
  }
  
  .carousel-button img {
    width: 20px; /* Tamaño de la imagen en pantallas pequeñas */
    height: 20px; /* Tamaño de la imagen en pantallas pequeñas */
  }
}




